---
yaml-files:
  - '*.yaml'
  - '*.yml'

ignore: |
  # Build and vendor directories
  vendor/
  dist/
  node_modules/

  # Git directory
  .git/

rules:
  # Formatting
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  brackets:
    min-spaces-inside: 0
    max-spaces-inside: 0
  colons:
    max-spaces-before: 0
    max-spaces-after: 1
  commas:
    max-spaces-before: 0
    min-spaces-after: 1
    max-spaces-after: 1
  hyphens:
    max-spaces-after: 1

  # Indentation
  indentation:
    spaces: 2
    indent-sequences: whatever
    check-multi-line-strings: false

  # Line rules
  line-length:
    max: 200
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true
  new-line-at-end-of-file: disable
  new-lines:
    type: unix
  trailing-spaces: enable

  # Comments
  comments:
    require-starting-space: true
    ignore-shebangs: true
    min-spaces-from-content: 1
  comments-indentation: enable

  # Document structure
  document-start: disable
  document-end: disable

  # Values
  empty-lines:
    max: 2
    max-start: 0
    max-end: 0
  empty-values:
    forbid-in-block-mappings: true
    forbid-in-flow-mappings: true
  truthy: disable

  # Keys
  key-duplicates: enable
  key-ordering: disable

  # Other
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: false
  quoted-strings: disable
